* {
  box-sizing: border-box;
}

.colx-fill { display: block !important; width: 100% !important;}
.colx-0 { display: none !important; }
.colx-1 { width: 12.5% !important; }
.colx-2 { width: 25% !important;   }
.colx-3 { width: 37.5% !important; }
.colx-4 { width: 50% !important;   }
.colx-5 { width: 62.5% !important; }
.colx-6 { width: 75% !important;   }
.colx-7 { width: 87.5% !important; }
.colx-8 { width: 100% !important;  }

.row {
  display: table;
  width: 100%;

  border-spacing: 0px 0px;
  border-collapse: separate;
}

[class*="cols-"], [class*="colx-"], [class*="colm-"]{
  display: table-cell;
  padding: 5px 2.5px;
  vertical-align: middle;
}

[class*="colx-"] {
  /* background: darkred; */
}

@media screen and (max-width: 640px) {
  .colm-fill { display: block !important; width: 100% !important;}
  .colm-0 { display: none !important; }
  .colm-1 { width: 12.5% !important; }
  .colm-2 { width: 25% !important;   }
  .colm-3 { width: 37.5% !important; }
  .colm-4 { width: 50% !important;   }
  .colm-5 { width: 62.5% !important; }
  .colm-6 { width: 75% !important;   }
  .colm-7 { width: 87.5% !important; }
  .colm-8 { width: 100% !important;  }

  [class*="colm-"] {
    /* background: darkblue; */
   }
 }

 @media screen and (max-width: 480px) {
   .cols-fill { display: block !important; width: 100% !important;}
   .cols-0 { display: none !important; }
   .cols-1 { width: 12.5% !important;  }
   .cols-2 { width: 25% !important;    }
   .cols-3 { width: 37.5% !important;  }
   .cols-4 { width: 50% !important;    }
   .cols-5 { width: 62.5% !important;  }
   .cols-6 { width: 75% !important;    }
   .cols-7 { width: 87.5% !important;  }
   .cols-8 { width: 100% !important;   }

   [class*="cols-"] {
     /* background: darkgreen; */
  }
}
